#################
## IntelliJ IDEA
#################
.idea/
.gradle/
build/
gradle/
gradlew
gradlew.bat
settings.gradle
target/
.iml
.tmp
.bak
.swp
~.nib
local.properties
.classpath
.settings/
.loadpath
Будет удалено src/main/resources/
Будет удалено src/test/resources/
